/* FONTFACE */
@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/urbanist/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/urbanist/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/urbanist/Urbanist-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-bold';
    src: url('../font/urbanist/Urbanist-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-extrabold';
    src: url('../font/urbanist/Urbanist-ExtraBold.ttf') format('truetype');
}
/* END FONTFACE */


/* VARIABLE */
:root {
    --dark-color: 48, 48, 48;
    --light-color: 255, 255, 255;
    --primary-color: 70, 110, 231;

    --regular-font: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --medium-font: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --semibold-font: 'urbanist-semibold', Arial, Helvetica, sans-serif;
    --bold-font: 'urbanist-bold', Arial, Helvetica, sans-serif;
    --extrabold-font: 'urbanist-extrabold', Arial, Helvetica, sans-serif;

    --border-style: 1px solid rgba(48, 48, 48, 0.12);
}
/* END VARIABLE */


/* COMPONENT */
body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 0;
    line-height: 150% !important;
}

a {
    color: rgba(var(--primary-color), 1);
    text-decoration: none;
    display: inline-block;
}

* {
    font-family: var(--medium-font);
    color: rgba(var(--dark-color), 1);
    transition: 300ms !important;
}

form {
    width: 100%;
    gap: 10px;
}

form .input-group,
form .input-group > input {
    position: relative;
}

form .input-group > input {
    padding: 16px 16px 16px 63px;
    background-color: rgba(var(--light-color), 1);
    border: var(--border-style);
    stroke: none;
    outline: none;
    border-radius: 4px !important;
    width: 100%;
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.52);
}

form .input-group > input::placeholder {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.52);
}

form .input-group > input:hover,
form .input-group > input:focus,
form .input-group > input:not(:placeholder-shown) {
    border: var(--border-style);
    border-color: rgba(var(--dark-color), 0.32);
}

form .input-group > label .line {
    width: 1px;
    height: 26px;
    background-color: rgba(var(--dark-color), 0.12);
}

form .input-group > label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    gap: 16px;
}

form .input-group > label span {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.52);
}

form .input-group input:not(:placeholder-shown) ~ label > span {
    display: none;
}
/* END COMPONENT */


/* AUTHENTICATION */
main.authentication {
    height: 100vh;
    overflow-y: hidden;
}

main.authentication .wrapper-style {
    background-image: url('../images/randoms/style-authentication.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main.authentication .logo-brand {
    position: absolute;
    top: 32px;
    left: 100px;
}

main.authentication .banner-login,
main.authentication .banner-register {
    background-image: url('../images/banners/banner-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main.authentication .banner-register {
    background-image: url('../images/banners/banner-register.jpg');
}

main.authentication .title {
    font-size: 4rem;
    font-family: var(--extrabold-font);
    margin-bottom: 32px;
}

main.authentication .content-authentication {
    padding: 32px 100px;
    width: 100%;
}

main.authentication .button-primary {
    padding: 13px 16px;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 4px !important;
    border: none;
    outline: none;
    stroke: none;
    gap: 6px;
}

main.authentication .button-primary span {
    font-size: 0.938rem;
    color: rgba(var(--light-color), 1);
}

main.authentication .button-primary:hover {
    filter: contrast(130%);
}

main.authentication .link-redirect {
    font-size: 0.938rem;
    color: rgba(var(--dark-color), 0.52);
    margin-top: 62px;
}

main.authentication .link-redirect a {
    position: relative;
}

main.authentication .link-redirect a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: rgba(var(--primary-color), 1);
    bottom: 0;
    left: 0;
    transition: 300ms;
}

main.authentication .link-redirect a:hover:before {
    width: 100%;
}
/* END AUTHENTICATION */


/* TRANSITION */
main.authentication .title,
main.authentication .form,
main.authentication .button-primary,
main.authentication .link-redirect {
    transform: translateY(20px);
    opacity: 0;
    transition: 700ms !important;
}

main.authentication .banner {
    filter: saturate(0);
}

main.authentication .banner.active-transition {
    animation-name: transitionSaturate;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

main.authentication .title.active-transition,
main.authentication .form.active-transition,
main.authentication .button-primary.active-transition,
main.authentication .link-redirect.active-transition {
    animation-name: transitionMoveToTop;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

main.authentication .form.active-transition {
    animation-delay: 0.25s;
}

main.authentication .button-primary.active-transition {
    animation-delay: 0.5s;
}

main.authentication .link-redirect.active-transition {
    animation-delay: 0.75s;
}

main.authentication .banner.active-transition {
    animation-delay: 1.5s;
}

@keyframes transitionMoveToTop {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes transitionSaturate {
    from {
        filter: saturate(0);
    }
    to {
        filter: saturate(100%);
    }
}
/* END TRANSITION */


/* RESPONSIVE */
@media (max-width: 1199.98px) {
    main.authentication .title {
        margin-bottom: 16px;
    }
}

@media (max-width: 575.98px) {
    main.authentication {
        min-height: 100vh;
        height: fit-content;
    }

    main.authentication .content-authentication {
        padding: 32px;
    }

    main.authentication .logo-brand {
        left: 32px;
    }
}
/* END RESPONSIVE */